body{
  background-color: rgb(45, 43, 46);
  /* background-image: url('bg_img.jpg');
  background-repeat: no-repeat;
  background-position: center 2.5em;
  background-size: 93%; */
  margin: 0;
}

.bgImage {
  width: 100%;
  height: 100vh;
  background-image: url('bg_img.jpg');
  background-repeat: repeat;
  background-position: center 2.5em;
  background-size: 93%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.header {
  /* padding-left: 300px; */
  /* padding-top: 120px; */
  /* padding-top: 60px; */
  margin: auto;
  text-align: center;
  /* position: fixed; */
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
  /* background: #1abc9c; */
  color: white;
  font-size: 22px;
  font-family: 'Gideon Roman', cursive;
  margin-top: 150px;
  position:sticky;
  top:60px;
  /* display: flex;
  flex-direction: column; */
  /* display: none; */
  animation-name: title;
  animation-duration: 4s;
  /* animation-delay: 2s; */
}

@keyframes title {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.language {
  position: sticky;
  top: 0px;
  margin-top: 0px;
}

.Chinese {
  /* position: absolute; */
  /* position: relative; */
  position: fixed;
  top: 30px;
  right: 10vw;
  height: 20px;
  overflow: hidden;
  border: 1px solid #18181a;
  border-radius: 15px;
  color: #18181a;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  display: inline-block;
  font-size: 12px;
  line-height: 10px;
  padding: 10px 18px 20px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Chinese span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.Chinese span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 7px;
  line-height: 13px;
}

.Chinese:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C2B2E;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.Chinese:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.Chinese:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.English {
  position: fixed;
  top: 30px;
  right: 2vw;
  height: 20px;
  overflow: hidden;
  border: 1px solid #18181a;
  border-radius: 15px;
  color: #18181a;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  display: inline-block;
  font-size: 12px;
  line-height: 10px;
  padding: 10px 18px 20px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.English span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.English span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  /* padding: 10px 1px 20px; */
  height: 7px;
  line-height: 13px;
}

.English:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C2B2E;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.English:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.English:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


.intro {
  padding-top: 150px;
  padding-bottom: 100px;
  margin: auto;
  /* display: inline; */
  text-align: center;

  width: 100%;
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  color: white;
  /* width: 37%; */
  line-height: 150%;
  font-size: 18px;
  font-family: 'Gideon Roman', cursive;
  display: flex;
  flex-direction: column;
  animation-name: introduction;
  animation-duration: 4s;
}

@keyframes introduction {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.process1 {
  padding-top: 250px;
  padding-bottom: 150px;
  text-align: center;
}

.process1 p {
  margin: auto;
  margin-top: 20px;
  color: white;
  width: 80%;
  max-width: 700px;
  line-height: 150%;
  font-size: 15px;
  font-family: 'Gideon Roman', cursive;
}

#pro1vid {
  width: 90%;
  aspect-ratio: 16 / 9;
  /* height: 432px; */
  max-width: 768px;
  max-height: 432px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.process2 {
  padding-top: 200px;
  padding-bottom: 150px;
  text-align: center;
}

.process2 p {
  margin: auto;
  margin-top: 20px;
  color: white;
  width: 80%;
  max-width: 720px;
  line-height: 150%;
  font-size: 15px;
  font-family: 'Gideon Roman', cursive;
}

#pro2vid {
  width: 90%;
  aspect-ratio: 16 / 9;
  /* height: 432px; */
  max-width: 768px;
  max-height: 432px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.process3 {
  padding-top: 200px;
  /* padding-bottom: 150px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 50%;
  transform: translate(-50%, 0); */
}

.des3 p {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 150px;
  color: white;
  width: 80%;
  max-width: 550px;
  line-height: 150%;
  font-size: 15px;
  font-family: 'Gideon Roman', cursive;
}

#pro3img1 {
  width: 70%;
  max-width: 650px;
  /* width: 45%; */
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

#pro3img2 {
  width: 25%;
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 65%;
}

.process4 {
  padding-top: 200px;
  /* padding-bottom: 150px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 50%;
  transform: translate(-50%, 0); */
}

.des4 p {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 150px;
  color: white;
  width: 80%;
  max-width: 600px;
  line-height: 150%;
  font-size: 15px;
  font-family: 'Gideon Roman', cursive;
}

#pro4img1 {
  /* width: 45%; */
  width: 70%;
  max-width: 650px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

#pro4img2 {
  /* width: 15%; */
  width: 25%;
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 65%;
}

.process5 {
  padding-top: 200px;
  /* padding-bottom: 150px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 50%;
  transform: translate(-50%, 0); */
}

.des5 p {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 150px;
  color: white;
  width: 80%;
  max-width: 580px;
  line-height: 150%;
  font-size: 15px;
  font-family: 'Gideon Roman', cursive;
}

#pro5 {
  width: 70%;
  background-color: rgb(45, 43, 46);
  max-width: 550px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  /* position: absolute; */
}

.process6 {
  /* position: fixed; */
  /* padding-top: 200px; */
  /* padding-bottom: 250px; */
  margin: auto;
  margin-top: 350px;
  padding: 0px;
  /* margin-bottom: 165px; */
  position: relative;
  /* top: 250px; */
  /* left: 45%; */
  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* align-items: center; */
  /* width: 55em; */
  height: 450px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(45,43,46);
  width: 90%;
  max-width: 880px;
}

.des6 p {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 150px;
  color: white;
  width: 80%;
  max-width: 700px;
  line-height: 150%;
  font-size: 15px;
  font-family: 'Gideon Roman', cursive;
}

#sentence {
  display: flex;
  /* position: relative; */
  /* font-size: 30px; */
  top: 50px;
  /* float: left; */
  /* max-width: 50%; */
  /* width: 55%; */
  /* justify-content: center; */
  padding: 0px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 330px;
  max-width: 800px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-top: 10px;
  overflow: scroll;
}

.characterContainer {
  width: 10%;
  flex: 0 1 100px;
  aspect-ratio: 1 / 1;
  /* max-width: 200px; */
  /* height: 50%; */
  /* outline: 1px white solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterContainer img {
  width: 100%;
  display: block;
  /* height: 25%; */
}

.characterContainer p {
  font-size: 30px;
  margin: 0px;
}

.in {
  /* display: flex; */
  position: absolute;
  top: 350px;
  /* left: 45%; */
  text-align: center;
}

input {
  /* margin: auto; */
  /* margin-top: 100px; */
  /* height: 5%; */
  /* position: relative; */
  top: 200px;
  text-align: center;
}

.clear {
  position: absolute;
  top: 390px;
}
